<html layout:decorate="~{navbarComponent}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cadastro de cliente</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <script type="text/javascript">
        
	    	//configurações do toastr
	    	toastr.options.closeButton = true;
	    	toastr.options.showMethod = 'slideDown';
	    	toastr.options.closeMethod = 'fadeOut';
	    	toastr.options.closeDuration = 300;
	    	toastr.options.closeEasing = 'swing';
    	
	    	function salvar(){
	    		
	    		$('#cadCliente').submit();
	    	}
	    	
	    	function proximo(){
	    		/*
	    		if($('#nome').val() === '' || $('#sobrenome').val() === '' || $('#txtEmail').val() === ''
	    			|| $('#cpf').val() === '' || $('#dataNasc').val() === '' || $('#sexo').val() === '' 
	    			|| $('#celular').val() === '' || $('#senha').val() === ''){
	    			toastr.warning('Preencha os campos obrigatórios antes de prosseguir');
	    		} else
	    			$('.nav-tabs a[href="#messages"]').tab('show');
	    		*/
	    		$('.nav-tabs a[href="#messages"]').tab('show');
	    	}
	    	
	    	function anterior(){
	    		$('.nav-tabs a[href="#profile"]').tab('show');
	    	}
        </script>
    </head>

    <body>
        <main layout:fragment="conteudo">
            <section class="">
                <div class="container formCadastroCliente">
                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-primary">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active show" href="#profile" data-toggle="tab">
                                                <i class="material-icons">face</i> Dados Pessoais
                                            </a>
                                        </li>
                                         
                                        <li class="nav-item">
                                            <a class="nav-link" href="#messages" data-toggle="tab">
                                                <i class="material-icons">chat</i> Endereço
                                                <div class="ripple-container"></div></a>
                                        </li>
                                        <!-- 
                                        <li class="nav-item">
                                            <a class="nav-link " href="#settings" data-toggle="tab">
                                                <i class="material-icons">credit_card</i> Cartões
                                                <div class="ripple-container"></div></a>
                                        </li>
                                        -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                        <form id="cadCliente" class="text-center" th:object="${cliente}" th:action="@{/cliente/salvar}" method="POST">
                            <div class="tab-content text-center">
                            
                                <div class="tab-pane active show" id="profile">
                                    
                                        <h3 class="title">Dados Pessoais</h3>
                                        <div class="row col-md-12">
                                            <div class="" th:if="${#fields.hasAnyErrors()}">
                                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                    <ul>
                                                    	<li class="text-danger"><span th:text="${detailedError.message}"></span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="nomeCompletoInput">Nome<span class="text-danger"> *</span></label>
                                                    <input th:field="*{nome}" type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome aqui" required>
                                                </div> 
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="nomeCompletoInput">Sobrenome<span class="text-danger"> *</span></label>
                                                    <input th:field="*{sobrenome}" type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Seu sobrenome aqui" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="EmailInput">Email<span class="text-danger"> *</span></label>
                                                    <input th:field="*{email}" type="email" class="form-control" id="txtEmail" name="email" placeholder="email@exemplo.com" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label class="label-control">Data de nascimento<span class="text-danger"> *</span></label>
                                                    <input type="date" name="dataNasc" class="form-control" th:classappend="${#fields.hasErrors('dataNasc')}? is-invalid" 
                                                           id="dataNasc" placeholder="Data no formato yyyy-MM-dd" th:field="*{dataNasc}" 
                                                           th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="cpfInput">CPF<span class="text-danger"> *</span></label>
                                                    <input th:field="*{cpf}" type="text" class="form-control" id="cpf" 
                                                           name="cpf" placeholder="000.000.000-00" maxlength="11" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="sexoSelect">Sexo<span class="text-danger"> *</span></label>
                                                    <select th:field="*{sexo}" class="form-control" id="sexo" name="sexo" required>
                                                    	<option value="" selected>Selecione</option>
                                                        <option value="M" >Masculino</option>
                                                        <option value="F">Feminino</option>
                                                        <option value="O">Outro</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="celularInput">Celular<span class="text-danger"> *</span></label>
                                                    <input th:field="*{celular}" type="text" class="form-control" id="celular" 
                                                           name="celular"  placeholder="(00)00000-0000" maxlength="11" required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="telefoneInput">Telefone </label>
                                                    <input th:field="*{telefone}" type="text" class="form-control" id="telefone" 
                                                           name="telefone" placeholder="(00)0000-0000" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="senhaInput">Senha<span class="text-danger"> *</span></label>
                                                    <input th:field="*{senha}" type="password" minlength="6" maxlength="12" class="form-control" id="senha" name="senha" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="confirmarSenhaInput">Confirmar senha<span class="text-danger"> *</span></label>
                                                    <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" >
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-sm-2 offset-sm-7 col-lg-2 offset-lg-10 text-center">
                                                <button type="button" id="" onclick="proximo()" class="btn btn-round btn-primary btnCriarConta">Próximo</button>
                                            </div>
                                        </div>
                                     
                                </div>
                                
                                <div class="tab-pane" id="messages">
                                    <h3 class="title">Endereço</h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="nomeDestInput">Nome do destinatário</label>
                                                <input th:field="*{endereco.nomeDestinatario}" type="text" class="form-control" id="nomeDestInput" name="nomeDestInput" placeholder="Quem irá receber ?">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="cepInput">CEP</label>
                                                <input th:field="*{endereco.cep}" type="text" class="form-control" id="cep" name="cep" placeholder="00000-000">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="enderecoInput">Logradouro</label>
                                                <input th:field="*{endereco.logradouro}" type="text" class="form-control" id="logradouro" name="logradouro" placeholder="Rua St, "
                                                        readonly >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="numeroInput">Número</label>
                                                <input th:field="*{endereco.numero}" type="text" class="form-control" id="numero" name="numero" placeholder="1234">
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group">
                                                <label for="complementoInput">Complemento</label>
                                                <input th:field="*{endereco.complemento}" type="text" class="form-control" id="complemento" name="complemento" placeholder="Apto ***">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="bairroInput">Bairro</label>
                                                <input th:field="*{endereco.bairro}" type="text" class="form-control" id="bairro" name="bairro" placeholder="Jd Maria" readonly> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="EstadoSelect">Estado</label>
                                                <input th:field="*{endereco.estado}" type="text" class="form-control" id="estado" name="estado" placeholder="SP"
                                                        readonly >
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="CidadeSelect">Cidade</label>
                                                <input th:field="*{endereco.cidade}" type="text" class="form-control" id="cidade" name="cidade" placeholder="São Paulo"
                                                        readonly >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-2 offset-sm-7 col-lg-2 offset-lg-10 text-center">
                                            <button type="button" onclick="salvar()" class="btn btn-round btn-primary btnCriarConta">Salvar</button>
                                        </div>
                                       <div class="">
                                            <button type="button" onclick="anterior()" class="btn btn-primary btn-link">Voltar</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </section>
            <script th:inline="javascript">

                //estamos usando uma api gratuita para a consulta de CEPs
                $("#cep").focusout(function () {
                    if ($("#cep").val() === '00000-000' || $("#cep").val() === '11111-111') {
                        cepInvalido();
                    } else {
                        //Início do Comando AJAX
                        $.ajax({
                            //O campo URL diz o caminho de onde virá os dados
                            //É importante concatenar o valor digitado no CEP
                            url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
                            //Aqui você deve preencher o tipo de dados que será lido,
                            //no caso, estamos lendo JSON.
                            dataType: 'json',
                            //SUCESS é referente a função que será executada caso
                            //ele consiga ler a fonte de dados com sucesso.
                            //O parâmetro dentro da função se refere ao nome da variável
                            //que você vai dar para ler esse objeto.
                            success: function (resposta) {
                                //Agora basta definir os valores que você deseja preencher
                                //automaticamente nos campos acima.
                                $("#logradouro").val(resposta.logradouro);
                                $("#complemento").val(resposta.complemento);
                                $("#bairro").val(resposta.bairro);
                                $("#cidade").val(resposta.localidade);
                                $("#estado").val(resposta.uf);
                                //Vamos incluir para que o Número seja focado automaticamente
                                //melhorando a experiência do usuário
                                $("#numero").focus();
                            },
                            error: function (resposta) {
                                cepInvalido();
                            }
                        });
                    }
                });

                function cepInvalido() {
                    alert('Cep inválido');
                    $('#cep').val('');
                    $("#logradouro").val('');
                    $("#complemento").val('');
                    $("#bairro").val('');
                    $("#cidade").val('');
                    $("#uf").val('');
                    $("#cep").focus();
                }
            </script>
        </main>
    </body>

</html>