<html layout:decorate="~{navbarComponent}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cadastro de cliente</title>
    </head>
    <body>
        <main layout:fragment="conteudo">
            <section class="">
                <div class="container formCadastroCliente">
                    <div class="row ">
                        <div class="col-12 ">
                            <form>
                                <h3 >Dados Pessoais</h3>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="nomeCompletoInput">Nome</label>
                                            <input type="text" class="form-control" id="nomeCompletoInput" placeholder="Seu nome aqui">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="EmailInput">Email</label>
                                            <input type="text" class="form-control" id="EmailInput" placeholder="email@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="label-control">Data de nascimento</label>
                                            <input type="text" class="form-control datetimepicker" value="" placeholder="00/00/0000"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cpfInput">CPF</label>
                                            <input type="text" class="form-control" id="cpfInput" aria-describedby="emailHelp" placeholder="000.000.000-00">
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="sexoSelect">Sexo</label>
                                            <select class="form-control selectpicker" data-style="btn btn-link" id="sexoSelect">
                                                <option>Masculino</option>
                                                <option>Feminino</option>
                                                <option>Outro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="celularInput">Celular</label>
                                            <input type="text" class="form-control" id="celularInput"  placeholder="(00)00000-0000">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="telefoneInput">Telefone </label>
                                            <input type="text" class="form-control" id="telefoneInput" placeholder="(00)0000-0000">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="senhaInput">Senha</label>
                                            <input type="password" class="form-control" id="senhaInput" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="confirmarSenhaInput">Confirmar senha</label>
                                            <input type="password" class="form-control" id="confirmarSenhaInput" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h3 >Endereço</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="cepInput">CEP</label>
                                            <input type="text" class="form-control" id="cepInput" placeholder="00000-000">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label for="enderecoInput">Endereço</label>
                                            <input type="text" class="form-control" id="enderecoInput" placeholder="Rua St, ">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="numeroInput">Número</label>
                                            <input type="text" class="form-control" id="numeroInput" placeholder="1234">
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="form-group">
                                            <label for="complementoInput">Complemento</label>
                                            <input type="text" class="form-control" id="complementoInput" placeholder="Apto ***">
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> 
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="bairroInput">Bairro</label>
                                            <input type="text" class="form-control" id="bairroInput" placeholder="Jd Maria">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="EstadoSelect">Estado</label>
                                            <select class="form-control selectpicker" data-style="btn btn-link" id="EstadoSelect">
                                                <option value="" selected>Selecione</option>
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                                <option value="EX">Estrangeiro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="CidadeSelect">Cidade</label>
                                            <select class="form-control selectpicker" data-style="btn btn-link" id="CidadeSelect">
                                                <option>Search select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="referenciaInput">Referência</label>
                                            <input type="text" class="form-control" id="referenciaInput" placeholder="proximo a ***">
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-primary btnCriarConta">Criar Conta</button>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
            </section>
        </main>
    </body>
</html>
