<html data-layout-decorate="~{navbarComponent}">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Carrinho</title>
    <script type="text/javascript">
    $(document).ready(function(){
    	//configurações do toastr
    	toastr.options.closeButton = true;
    	toastr.options.showMethod = 'slideDown';
    	toastr.options.closeMethod = 'fadeOut';
    	toastr.options.closeDuration = 300;
    	toastr.options.closeEasing = 'swing';
    	
        $('#finalizarPedido').submit(function (e) {
        	
        	var lista = [[${#lists.isEmpty(@carrinhoController.itensSelecionados)}]];
        	
        	if(lista){
        		toastr.warning('Inclua itens no carrinho antes de finalizar o pedido');
        		e.preventDefault(e);
        	}
        	
        	if($('#formaPagamento').val() === ''){        		
        		toastr.warning('Selecione uma forma de pagamento antes de finalizar o pedido');
        		e.preventDefault(e);
        	} else{
        		$('#txtFormaPagto').val($('#formaPagamento').val());
        	}
        });
    });
    
    function alterarQuantidade() {
    	document.getElementById("incQtd").submit();
    }
    
	</script>
</head>
<body>
	<main layout:fragment="conteudo">
	<section>
		<div class="container">
			<div class="card card-plain card-carrinho text-center">
				<div class="card-body">
					<h3 class="">Itens no Carrinho</h3>
					<h4 data-th-if="${#lists.isEmpty(@carrinhoController.itensSelecionados)}">Nenhum item adicionado</h4>
					<br>
					<table class="table table-no-more text-center" data-th-unless="${#lists.isEmpty(@carrinhoController.itensSelecionados)}">
						<thead>
							<tr>
								<th></th>
								<th>Produto</th>
								<th>Preço</th>
								<th>Quantidade</th>
							</tr>
						</thead>
						<tbody>
							<tr data-th-each="sel,stat : ${@carrinhoController.itensSelecionados}">
								<td><img class="imgProdutoCarrinho"
									src="/img/card-product1.jpg"></td>
								<td data-th-text="${sel.item.nome}"></td>
								<td>R$ <span data-th-text="${#numbers.formatDecimal(sel.item.precoVenda,1,'DEFAULT',2,'DEFAULT')}"></span></td>
								<td class="text-center">
									<div class="row">
										<div class="col-2 text-right">
											<form method="post" data-th-action="@{/carrinho/{listIndex}/decrementar(listIndex=${stat.index})}" style="display: inline-block;">
												<button type="submit" class="btn btn-sm btn-warning">
													<i class="fa fa-minus"></i>
												</button>
											</form>
										</div>
										<div class="col-4">
											<form id="incQtd" data-th-action="@{/carrinho/{listIndex}/alterar(listIndex=${stat.index})}" method="post" style="display: inline-block;">
												<input type="number" id="qtd" name="qtd" class="form-control form-control-sm" data-th-value="${sel.quantidade}" onchange="alterarQuantidade()" />
											</form>
										</div>
										<div class="col-2 text-left">
											<form data-th-action="@{/carrinho/{listIndex}/incrementar(listIndex=${stat.index})}" method="post" style="display: inline-block;">
												<button type="submit" class="btn btn-sm btn-success">
													<i class="fa fa-plus"></i>
												</button>
											</form>
										</div>
										<div class="col-4 text-left">
											<form data-th-action="@{/carrinho/{listIndex}/remover(listIndex=${stat.index})}" method="post" style="display: inline-block;">
												<button type="submit" class="btn btn-sm btn-danger">
													<i class="fa fa-trash"></i>
												</button>
											</form>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="card cardCarrinhoValor">
								<div class="card-body">
									<form data-th-action="@{/carrinho/frete}" method="post" >
										<div class="form-group row">
											<label for="txtCep"
												class="col-sm-2 col-form-label col-form-label-sm">CEP</label>
											<div class="col-sm-8">
												<input type="text" name="cep"
													class="form-control form-control-sm" id="txtCep"
													placeholder="Formato 00000-000">
											</div>
											<div class="col-sm-2">
												<button type="submit" class="btn btn-sm btn-primary">Calcular
													frete</button>
											</div>
										</div>
									</form>
									<form data-th-action="@{/carrinho/cupom}" method="post">
										<div class="form-group row">
											<label for="txtCupom"
												class="col-sm-4 col-form-label col-form-label-sm">Cupom
												desconto</label>
											<div class="col-sm-8">
												<input type="text" name="cupom"
													class="form-control form-control-sm" id="txtCupom">
											</div>
											<div class="col-sm-2">
												<button type="submit"
													class="btn btn-sm btn-primary">Aplicar
													cupom</button>
											</div>
										</div>
									</form>
										<div class="form-group row">
											<label for="txtCupom"lass="col-sm-4 col-form-label col-form-label-sm">Forma de Pagamento</label>
											<div class="col-sm-10">
												<select class="form-control" id="formaPagamento" name="formaPagamento" required>
													<option selected value="">Selecione</option>
													<option value="1">Cartão de Crédito</option>
													<option value="2">PayPal</option>
													<option value="3">Boleto</option>
													<option value="4">PagSeguro</option>
												</select>
											</div>
										</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="card cardCarrinhoValor">
								<div class="card-body">
									<h3>
										<b>R$ Valores</b>
									</h3>
									<hr>
									<div class="valorProdutos text-uppercase ">
										<div class="row">
											<div class="col-6 text-left">
												<label>Sub-total:</label>
											</div>
											<div class="col-6 ">
												<label>R$ <span data-th-text="${#numbers.formatDecimal(@carrinhoController.valorTotal,1,'DEFAULT',2,'DEFAULT')}"></span></label>
											</div>
										</div>
										<div class="row valorCard">
											<div class="col-6 text-left">
												<label>Valor Frete:</label>
											</div>
											<div class="col-6">
												<label>R$ <span data-th-text="${#numbers.formatDecimal(@carrinhoController.valorFrete,1,'DEFAULT',2,'DEFAULT')}"></span></label>
											</div>
										</div>
										<div class="row valorCard">
											<div class="col-6 text-left">
												<label>Valor Desconto:</label>
											</div>
											<div class="col-6">
												<label>R$ <span data-th-text="${#numbers.formatDecimal(@carrinhoController.valorDesconto,1,'DEFAULT',2,'DEFAULT')}"></span></label>
											</div>
										</div>
										<div class="row">
											<div class="col-6 text-left">
												<label>Valor Total:</label>
											</div>
											<div class="col-6">
												<label>R$ <span data-th-text="${#numbers.formatCurrency(@carrinhoController.valorFinal)}"></span></label>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<form data-th-action="@{/carrinho/finalizar}" name="finalizarPedido" id="finalizarPedido" method="post">
													<input type="hidden" name="txtFormaPagto" id="txtFormaPagto">
													<button type="submit" class="btn btn-primary btnContinuar">Finalizar Pedido</button>
												</form>
											</div>											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</main>
</body>
</html>