<html layout:decorate="~{navbarComponent}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Detalhes-Produtos</title>
    </head>
    <body>
        <main layout:fragment="conteudo">
            <section class="detalheForm">
                <div class="container">
                    <div >
                        <div class="row">
                            <div class="col-sm-5 ">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
	                                    <div th:each="p,i : ${produto.imagens}" class="carousel-item" th:classappend="${i.index == 0} ? active">
	                                        <img class="d-block carousel-picture " th:src="@{/produtos/imagem/{id}(id=${p.id})}" alt="First slide">
	                                    </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon iconCarousel" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon iconCarousel" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 descricao justify-content-center">
                                <h4 th:text="${produto.nome}" class="nomeProduto title">
                                    <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-round btn-rose btn-sm" data-original-title="Salvar nos Favoritos">
                                        <i class="material-icons">favorite</i>
                                    </button>
                                </h4>

                                <h2 class="precoProduto"><b>R$ <span data-th-text="${#numbers.formatDecimal(produto.precoVenda,1,'DEFAULT',2,'DEFAULT')}"></span></b></h2>
                                <h5 class="parcelamentoProduto">ou 4x de R$ <span th:text="${produto.precoVenda/4}"></span> Sem juros</h5>

                                <div class="row">
                                    <div class="col-5 ">
	                                    <form method="post" data-th-action="@{/carrinho}">
	                                    	<input type="hidden" name="itemId" data-th-value="${produto.id}" />
	                                    	<button type="submit" class="btn btn-round btn-lg btn-block btn-success">Comprar</button>
	                                    </form>                              
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="detalhes">
                                            <h5 class="title">DETALHES</h5>
                                            <p>- <span th:text="${produto.descricao}"></span></p>
                                            <p>- <span th:text="${produto.especificacao}"></span></p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
    </body>
</html>
