<html layout:decorate="~{navbarComponent}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Forma de Pagamento</title>
    </head>
    <body>
        <main layout:fragment="conteudo">
            <section>
                <div class="container">
                    <div class="card card-carrinho">
                        <div class="row">
                            <div class="col-md-1 col-3 text-center">
                                <i class="material-icons cardIcon">
                                    credit_card
                                </i>
                            </div>
                            <div class="col-md-4 col-9 right">
                                <h3 class="formPagamentoLabel">
                                    Forma de Pagamento
                                </h3>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="">
                        <div class="row">
                            <div class="col-md-4 ">
                                <ul class="nav nav-pills nav-pills-icons flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab1" data-toggle="tab">
                                            <i class="material-icons">
                                                credit_card
                                            </i>
                                            Cartão de Crédito
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tab2" data-toggle="tab">
                                            <i class="fas fa-barcode"></i>
                                            Boleto
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 container">
                                <div class="tab-content">
                                    <div class="card tab-pane active" id="tab1">
                                        <div class="valorProdutos">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="nomeCartaoInput">Nome</label>
                                                        <input  type="text" class="form-control" id="nomeCartao" name="cliente" placeholder="Titular do cartão"  >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-12"> 
                                                    <div class="form-group">
                                                        <label for="numeroCartaoInput">Nº do cartão</label>
                                                        <input  type="text" class="form-control" id="numCartao" name="cliente" placeholder="0000 0000 0000 0000" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="validadeCartaoInput">Data de validade</label>
                                                        <input type="text" name="dataValidade" class="form-control" id="dataValidade" placeholder="02/2020" >
                                                    </div>
                                                </div>
                                                <div class="col-6"> 
                                                    <div class="form-group">
                                                        <label for="codSegurancaInput">Cód. de segurança  </label>
                                                        <input  type="text" class="form-control" id="codSeguranca" name="codSeguranca" placeholder="CVV" maxlength="3" >
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-12"> 
                                                    <div class="form-group">
                                                        <label for="ParcelamentoSelect">Parcelado em?</label> 
                                                        <select class="form-control" data-style="btn btn-link"
                                                                id="ParcelamentoSelect" name="ParcelamentoSelect" required>
                                                            <option value="1">1x</option>
                                                            <option value="2">2x</option>
                                                            <option value="3">3x</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="offset-md-9 col-md-3 col-12">
                                                    <a href="">
                                                        <button type="submit" class="btn btn-primary btnContinuar">
                                                            Selecionar
                                                        </button>
                                                    </a>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="row card">
                                            <div class="row">
                                                <div class="col-1">
                                                    <i class="material-icons printerIcon ">
                                                        local_printshop
                                                    </i>
                                                </div>
                                                <div class="col-md-6 col-11 text-center">
                                                    <h4 class="text-printer">Imprima o boleto e pague no banco</h4>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </body>
</html>