<html layout:decorate="~{navbarComponent}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Carrinho </title>
    </head>
    <body>
        <main layout:fragment="conteudo">
            <section>
                <div class="container">
                    <div class="card card-plain card-carrinho text-center">
                        <div class="card-body">
                            <h3 class="">Itens no Carrinho</h3>
                            <br>
                            <table class="table table-no-more text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Produto</th>
                                        <th>Preço</th>
                                        <th>Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img class="imgProdutoCarrinho" src="/img/card-product1.jpg"></td>
                                        <td>Ração Golden Duo para Cães Adultos Sabor Frango e Carne - 15kg</td>
                                        <td>R$125,90</td>
                                        <td >
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="imgProdutoCarrinho" src="/img/card-product1.jpg"></td>
                                        <td>Ração Golden Duo para Cães Adultos Sabor Frango e Carne - 15kg</td>
                                        <td>R$125,90</td>
                                        <td >
                                            1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="imgProdutoCarrinho" src="/img/card-product1.jpg"></td>
                                        <td>Ração Golden Duo para Cães Adultos Sabor Frango e Carne - 15kg</td>
                                        <td>R$125,90</td>
                                        <td >
                                            1
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card cardCarrinhoValor">
                                        <div class="card-body">
                                            <h3><i class="fas fa-map-marker-alt"></i>Endereço de entrega</h3>
                                            <hr>
                                            <div class="valorProdutos text-uppercase ">
                                                <div class="row">
                                                    <div class="col-6 form-group">
                                                        <label for="nomeDestInput">Nome do destinatário</label>
                                                        <span class="form-control" ></span>
                                                    </div>
                                                    <div class=" col-6 form-group">
                                                        <label for="enderecoInput">Logradouro</label>
                                                        <span class="form-control"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-4">
                                                        <div class="form-group">
                                                            <label for="numeroInput">Número</label>
                                                            <span class="form-control" ></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-4">
                                                        <div class="form-group">
                                                            <label for="EstadoSelect">Estado</label>
                                                            <span class="form-control" ></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-4">
                                                        <div class="form-group">
                                                            <label for="CidadeSelect">Cidade</label>
                                                            <span class="form-control" ></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card cardCarrinhoValor">
                                        <div class="card-body">
                                            <h3><i class="fas fa-dollar-sign"></i>Valor</h3>
                                            <hr>
                                            <div class="valorProdutos text-uppercase ">
                                                <div class="row">
                                                    <div class="col-6 text-left"> 
                                                        <label>Valor dos produtos:</label>
                                                    </div>
                                                    <div class="col-6 "> 
                                                        <label>R$: 377,7</label>
                                                    </div>
                                                </div>
                                                <div class="row valorCard">
                                                    <div class="col-6 text-left"> 
                                                        <label>Valor Frete:</label>
                                                    </div>
                                                    <div class="col-6"> 
                                                        <label>R$: 37,7</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 text-left"> 
                                                        <label>Valor Total:</label>
                                                    </div>
                                                    <div class="col-6"> 
                                                        <label>R$: 415,4‬</label>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6 text-left">
                                                        <label>Forma de pagamento:</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>Cartão 12x</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-6">
                                    <a href="">
                                        <button type="submit" class="w-100 btn btn-primary btn-danger">
                                            Cancelar
                                        </button>
                                    </a>
                                </div>
                                <div class="offset-md-6 col-md-3 col-6">
                                    <a href="">
                                        <button type="submit" class="btn btn-primary btnContinuar">
                                            Finalizar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>